@namespace Hyperledger.Aries.AspNetCore.Features.Schemas.Pages
@inherits BaseComponent
@page "/schemas/create"

<div data-qa=@TestId>
  <h1>Create Schema</h1>

  <p>Imagine a form here with all the bells and whistles. But until then you can just push the button.</p>
  <button class="btn btn-primary" @onclick=@CreateClick>Create Degree Schema</button>
</div>