@namespace BlazorHosted.Features.Schemas.Pages
@inherits BaseComponent
@page "/schemas/create"

<div data-qa=@TestId>
  <h1>Create Schema</h1>

  <p>This should be a form that allows you to populate the data</p>
  <button class="btn btn-primary" @onclick=@CreateClick>Create Degree Schema</button>
</div>