@namespace BlazorHosted.Features.Credentials.Pages
@using Hyperledger.Aries.Models.Records
@inherits BaseComponent
@page "/credentials/offer"

<div data-qa=@TestId>
  <br />
  <h1>Offer Credential</h1>

  @*<p>Imagine a form here with all the bells and whistles. But until then you can just push the button.</p>
    <button class="btn btn-primary" @onclick=@CreateClick>Offer Credential</button>*@

<EditForm Model=@OfferCredentialRequest OnValidSubmit=@HandleValidSubmit>
  <Validate />
  <ValidationSummary />
  <div class="form-group">
    <label for="Connection">Connection</label>
    <InputSelect @bind-Value=@OfferCredentialRequest.ConnectionId class="form-control" id="Connection">
      @foreach (Hyperledger.Aries.Features.DidExchange.ConnectionRecord connectionRecord in Connections)
{
<option value=@connectionRecord.Id>@connectionRecord.Alias</option>
}
    </InputSelect>
  </div>
  <div class="form-group">
    <label for="CredentialDefintion">Credential Defintion</label>
    <InputSelect @bind-Value=@OfferCredentialRequest.CredentialDefinitionId @onchange=@OnCredentialDefintionSelect class="form-control" id="CredentialDefintion">
      @foreach (DefinitionRecord definitionRecord in CredentialDefintions)
{
<option value=@definitionRecord.Id>@SchemaState.Schemas[definitionRecord.SchemaId].Name</option>
}
    </InputSelect>
  </div>
  <p>Attribute Count: @OfferCredentialRequest.CredentialPreviewAttributes?.Count</p>

  @foreach (var cpa in OfferCredentialRequest.CredentialPreviewAttributes)
  {
    <div class="form-group">
      <label for="Name">@cpa.Name</label>
      @*<InputText @bind-Value=cpa.Value class="form-control" id="Value" />*@
      <TransformProperty 
        TSource=object
        TTransformed=string
        Context=Transformed
        SetSource=@(x => cpa.Value = x)
        GetTransformed=@(() => (string)cpa.Value)
      >
        <InputText class="form-control" id="Value" @bind-Value=@Transformed.TransformedValue />
      </TransformProperty>
    </div>
  }


  <input type="submit" class="btn btn-primary" value="Save" />
  <button class="btn btn-primary" @onclick=@CancelClick>Cancel</button>
</EditForm>


</div>  