@namespace Hyperledger.Aries.AspNetCore.Features.Credentials.Pages
@using Hyperledger.Aries.Models.Records
@inherits BaseComponent
@page "/credentials/offer"

<div data-qa=@TestId>
  <br />
  <h1>Offer Credential</h1>

  <EditForm Model=@OfferCredentialRequest OnValidSubmit=@HandleValidSubmit>
    <Validate />
    <ValidationSummary />
    <div class="form-group">
      <label for="Connection">Connection</label>
      <InputSelect @bind-Value=@OfferCredentialRequest.ConnectionId class="form-control" id="Connection">
        @foreach (Hyperledger.Aries.Features.DidExchange.ConnectionRecord connectionRecord in Connections)
        {
        <option value=@connectionRecord?.Id>@connectionRecord?.Alias?.Name : @connectionRecord?.Id</option>
        }
      </InputSelect>
    </div>
    <div class="form-group">
      <label for="CredentialDefintion">Credential Defintion</label>
      <InputSelect @bind-Value=@OfferCredentialRequest.CredentialDefinitionId @onchange=@OnCredentialDefintionSelect class="form-control" id="CredentialDefintion">
        @foreach (DefinitionRecord definitionRecord in CredentialDefintions)
        {
        <option value=@definitionRecord?.Id>@SchemaState?.Schemas[definitionRecord.SchemaId]?.Name</option>
        }
      </InputSelect>
    </div>
    <p>Attribute Count: @OfferCredentialRequest.CredentialPreviewAttributes?.Count</p>

    @foreach (var cpa in OfferCredentialRequest.CredentialPreviewAttributes)
    {
      <div class="form-group">
        <label for="@cpa.Name">@cpa.Name</label>
        <TransformProperty 
          TSource=object 
          TTransformed=string
          Context=Transformed
          SetSource=@(x => cpa.Value = x)
          GetTransformed=@(() => (string)cpa.Value)
        >
          <InputText class="form-control" id="@cpa.Name" @bind-Value=@Transformed.TransformedValue />
        </TransformProperty>
      </div>
    }


    <input type="submit" class="btn btn-primary" value="Save" />
    <button class="btn btn-primary" @onclick=@CancelClick>Cancel</button>
  </EditForm>


</div>  