@namespace BlazorHosted.Features.Credentials.Pages
@inherits BaseComponent
@page "/Credentials"

  <div data-qa="@TestId">
    <br />
    <h1>Credential Items</h1>
    <button class="btn btn-primary" @onclick=@CreateClick>Create</button>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Column A</th>
          <th>Column B</th>
          <th>Column C</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var credential in CredentialState.CredentialsAsList)
        {
          <tr>
            <td>@credential.Id</td>
            <td>Attribute A</td>
            <td>Attribute B</td>
            <td>Attribute C</td>
            <td>
              @*<a href=@Pages.Edit.GetRoute(credential.Id)>
                Edit
              </a>*@
              |
              @*<a href=@Pages.Details.GetRoute(credential.Id)>
                Details
              </a>*@
              |
              @*<a href=@Pages.Delete.GetRoute(credential.Id)>
                Delete
              </a>*@
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>