@namespace Hyperledger.Aries.AspNetCore.Features.CredentialDefinitions.Pages
@inherits BaseComponent
@page "/credential-definitions/create"

<div data-qa=@TestId>
  <br/>
  <h1>Create Credential Definition</h1>

  <p>Imagine a form here with all the bells and whistles. But until then you can just push the button.</p>
  <button class="btn btn-primary" @onclick=@CreateClick>Create Degree Credential Definition</button>
</div>