@namespace Hyperledger.Aries.AspNetCore.Features.Applications.Components

@using Hyperledger.Aries.AspNetCore.Components
@using Hyperledger.Aries.AspNetCore.Features.Bases

@inherits BaseComponent

<nav class="navbar fixed-bottom navbar-light bg-light">
  <BlazorLocation TestId="BlazorLocation" />
  <span>Version:@Version</span>
</nav>
