@namespace blazorhosted.Components
@inherits BaseComponent
@using blazorhosted.Features.Bases;

<div id="@Id" data-qa="@TestId">
  <button class="btn btn-primary" @onclick="ButtonClick">Reset Store</button>
</div>
