@namespace BlazorHosted.Pages

@using BlazorHosted.Features.Bases
@using BlazorHosted.Components

@page "/"

@inherits BaseComponent

<h1 data-qa="HomeHeader">@ApplicationState.Name</h1>


<p>
  Aries Framework for .NET is a comprehensive implementation of the Aries protocols. 
  It's purpose is to provide a universal library for building SSI application for the cloud, mobile and IoT stack
</p>

<br />
<br />
<br />
<br />
<a href="https://github.com/hyperledger/aries-framework-dotnet">Aries Framework for .NET GitHub project</a>
