@namespace Hyperledger.Aries.AspNetCore.Pages

@using Hyperledger.Aries.AspNetCore.Features.Bases
@using Hyperledger.Aries.AspNetCore.Components

@page "/"

@inherits BaseComponent

<br />
<h1 data-qa="HomeHeader">@ApplicationState.Name</h1>

<p>
  Aries Framework for .NET is a comprehensive implementation of the Aries protocols. 
  It's purpose is to provide a universal library for building SSI application for the cloud, mobile and IoT stack
</p>

<p>
  This is a demo application which utilizes the Aries for for .NET OpenApi interface.
</p>

<br />
<a href="https://github.com/hyperledger/aries-framework-dotnet">Aries Framework for .NET GitHub project</a>
