@namespace BlazorHosted.Pages

@using BlazorHosted.Features.Bases
@using BlazorHosted.Components

@page "/Wallet"

@inherits BaseComponent

<br />
<h1 data-qa="AgentHeader">Wallet / Agent Provisioning Configuration</h1>

<BlazorHosted.Features.Wallets.Components.Wallet></BlazorHosted.Features.Wallets.Components.Wallet>
