@namespace BlazorHosted.Features.Connections.Components

@inherits BaseComponent

<h4>Connection Create Component</h4>

<div>
  <button>Create New Invitation</button>
  <div>
    <h3>Invitation Details</h3>
    <img src="@ConnectionState?.InvitationQrUri"/>
    <span>@ConnectionState?.InvitationUrl</span>
  </div>
</div>