@namespace BlazorHosted.Pages.Connections
@using BlazorHosted.Features.Bases
@inherits BaseComponent
@page "/connections/create"

<h1>Create Connection Create Page</h1>

<div class="card text-center mt-2 col-5" >
  <button @onclick=@ButtonClick>Create New Invitation</button>
  <div>
    <h3 class="card-header">Invitation Details</h3>
    <img class="card-img" src="@ConnectionState?.InvitationQrUri" />
    <div class="card-body">
      <span>@ConnectionState?.InvitationUrl</span>
    </div>
  </div>
</div>