@namespace BlazorHosted.Pages.Connections
@using BlazorHosted.Features.Bases
@inherits BaseComponent
@page "/connections/create"

<h1>Create Connection Create Page</h1>

<div>
  <button>Create New Invitation</button>
  <div>
    <h3>Invitation Details</h3>
    <img src="@ConnectionState?.InvitationQrUri" />
    <span>@ConnectionState?.InvitationUrl</span>
  </div>
</div>