@namespace BlazorHosted.Features.Connections.Pages
@using BlazorHosted.Features.Bases
@inherits BaseComponent
@page "/connections/details/{ConnectionId}"

<h1>Connection Item Details</h1>

<BlazorHosted.Features.Connections.Components.Details ConnectionId=@ConnectionId />

<button class="btn btn-primary" @onclick=@BackClick>Back To List</button>